.active{
    background-color: rgb(36, 56, 110);
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: hsl(0, 0%, 100%);
   position: sticky;
   top: 0;
   z-index: 3;
   border-bottom: 2px solid #9da5db;
}
nav .titulos{
   font-size: 1.8rem;
   margin: 1.8rem;
   font-weight: bold;
   text-decoration: none;
   color:  #8b96de;
   
}
nav ul{
    display: flex; 
    
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: rgb(138, 187, 203);
    padding: 0.7rem;
    margin: 0 2.5rem;
    border-radius: 0.5rem;
}
nav ul li a:not(.active):hover{
    background-color: rgb(36, 56, 110) ;
    color: white;
}
nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    align-items: center;
    margin-top: 10px;
}

nav .menu span{
    margin-top: 7px;
    height: 0.4rem;
    width: 100%;
    background-color:  #8b96de;
    border-radius: 0,2rem;
}
@media (max-width: 700px){
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }

}